.container {
    display: flex;
    max-width: 1000px;
    margin: auto;
}

.form-container {
    width: 50%;
}

.calendly-container {
    width: 50%;
    position: relative;
    right: -100%;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
    background-color: #f0f0f0; /* Initially inactive color */
    border-left: 1px solid #ccc;
    padding: 20px;
}

.calendly-container.active {
    right: 0;
    opacity: 1;
    background-color: #fff; /* Active color */
}
